<div
  style="
    width: 100%;
    margin-left: -10mm;
    margin-right: -10mm;
    padding: 0 20mm;
    box-sizing: border-box;
    font-family: &quot;Khmer OS Content&quot;, Arial, sans-serif;
    font-size: 9px;
    color: #111;
  "
>
  <div style="line-height: 1.25; width: 100%">
    <p style="margin: 0 0 2px 0">
      <strong>ážŸáŸ†áž‚áž¶áž›áŸ‹áŸ¡ \u00AD :</strong>
      áž›áž‘áŸ’áž’áž•áž›áž“áŸƒážœáž·áž—áž¶áž‚áž“áŸáŸ‡ áž˜áž·áž“áž¢áž¶áž…áž”áŸ’ážšáž¾áž”áŸ’ážšáž¶ážŸáŸ‹ážŸáŸ†ážšáž¶áž”áŸ‹áž€áž¶ážšáž•áŸ’ážŸáž–áŸ’ážœáž•áŸ’ážŸáž¶áž™áž”áž¶áž“áž‘áŸ
      áž“áž·áž„áž˜áž¶áž“ážáŸ†áž›áŸƒáž…áŸ†áž–áŸ„áŸ‡ážáŸ‚áž‚áŸ†ážšáž¼ážŠáŸ‚áž›áž”áž¶áž“áž”áž‰áŸ’áž‡áž¼áž“áž˜áž€áž”áŸ‰áž»ážŽáŸ’ážŽáŸ„áŸ‡áŸ” 
    </p>
    <p style="margin: 0 0 2px 0">
      áž›áž‘áŸ’áž’áž•áž›ážœáž·áž—áž¶áž‚ážŠáŸ„áž™ ážœáž·áž’áž¸ážŸáž¶ážŸáŸ’ážáŸ’ážš MPN ážŠáŸ‚áž›áž˜áž¶áž“ážáž˜áŸ’áž›áŸƒ &lt; 3x100
      áž¢áž“áž»áž›áŸ„áž˜ážáž¶áž˜ážŸáŸ’ážŠáž„áŸ‹ážŠáž¶ážšáž€áŸ†ážŽážáŸ‹ (3828)áŸ” áž‘áŸ†áž–áŸážš 1/1
    </p>
    <div style="clear: both"></div>
    <p style="margin: 0 0 2px 0">
      <strong>Note 1:</strong> The result of analysis is not to be used for
      advertising purposes and results relate only to the items tested. >
    </p>
    <div style="clear: both"></div>
    <p style="margin: 0 0 2px 0">
      <strong>Note 2:</strong> The result of analysis &lt;3x100 by using MPN
      method conforms to standard. STINL does not engage in sampling.
    </p>
    <p style="margin: 0 0 2px 0">
      <strong>Note 3:</strong> The report shall not be reproduced except in
      full, without writing approval of STINL.
    </p>
    <div style="margin: 0">
      NATA is a signatory to the ILAC Mutual Recognition Arrangement for the
      mutual recognition of equivalence of testing reports.
    </div>
  </div>
</div>
